{% extends 'base.html' %}
{% block title %}Recipes{% endblock %}

{% block content-title %}Recipes{% endblock %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-12 col-lg-12 col-xl-8">
    <div class="row">
      {% for rec in recipes %}
        <div class="col-md-4">
          <a href="{{ rec.coverImage.url }}" style="text-decoration:inherit;color:inherit">
            <div class="card mt-4 text-center">
              <img src="{{ rec.coverImage.url }}" class="card-image">
              <h3>{{ rec.title }}</h3>
              <h5>{{ rec.created_on }}</h5>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}